body {
    box-sizing: border-box;
    margin: 0; 
}
h1 {
    font-family: 'Nevis', sans-serif;
    font-style: italic;
    font-size: 4.5em;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(0deg, rgba(247,183,48,100) 0%, rgba(0, 33, 165, 1) 100%);
}

header {
    background-color: #0021A5;
    color: #fcfcfc;
    padding: 20px;
   
}
nav {
    justify-content: space-evenly;
    display: flex;
    font-size: 2.5em;
}
nav a {
    text-decoration: none;
    color: #DFDCE3; 
}
.about-me {
    background-color: #F7B733;
    color: #000000;
    padding: 20px;
}
