body {
    box-sizing: border-box;
    margin: 0; 
}

h1 {
    font-family: 'Nevis', sans-serif;
    font-style: italic;
    font-size: 4.5em;
    margin: 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(0deg, rgba(247,183,48,100) 0%, rgba(74,189,172,100) 100%);
}
h2 {
    text-align: left;
    font-size: 2.5em;
    margin: 0;
    padding: 10px;
    font-style: italic;
}

h3{
    text-align: left;
    font-size: 2em;
    margin: 0;
    padding: 10px
}
footer h3{
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 10px
}


header {
    background-color: #4ABDAC;
    color: #fcfcfc;
    padding: 20px;
   
}
nav {
    justify-content: space-evenly;
    display: flex;
    font-size: 2.5em;
}
nav a, li a {
    text-decoration: none;
}
.about-info {
    background-color: #F7B733;

}

.about-me{
    margin : 0 0;
}
.about-me section {
    width : auto;
    background-color: #DFDCE3;
    color: #000000;
    border-radius: 100px;
    text-align: left;
    font-size: 1.75em;
    padding: 40px;
    margin: 20px;
}

img {
    width: 25%;
    height: 25%;
    border-radius: 100px;
    display:  block;
    margin: auto;
}

.work-grid {
    background-color: #DFDCE3;
}
.work-grid > .work-item, .work-grid > .work-title {
    color: #000000;
    margin : 5px 25px;
    padding: 10px;
    text-align: left;
}
.work-grid p {
    font-size: 1.5em;
    padding: 10px;
}


.education-grid{
    background-color: #DFDCE3;
}
.education-grid > .education-item, .education-grid > .education-title {
    color: #000000;
    margin : 5px 25px;
    padding: 10px;
    text-align: left;
}
.education-grid p {
    font-size: 1.5em;
    padding: 10px;
}


footer h3{
    background: linear-gradient(0deg, rgba(252, 74, 26, .9) 0%, rgba(247,183,48,100) 100%)
  }

  ul {
    display : flex;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    justify-content: space-evenly;
    background-color: #fc4a1ae6;
    justify-content: space-evenly;
    font-size: 2em;
}

@media screen and (min-width: 1350px) {
    .education-grid{
        background-color: #DFDCE3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: center;
    }
    .work-grid {
        background-color: #DFDCE3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-me {
        display : flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-me section {
    width: 60%;
    margin: 0 5%;
    background-color: #DFDCE3;
    color: #000000;
    border-radius: 100px;
    text-align: left;
    font-size: 1.75em;
    padding: 40px;
    margin: auto;
}

}