img {
    width: 100%;
}
header {
    background-color: #4ABDAC;
    color: #fcfcfc;
    padding: 10px;
    text-align: center;
    
}
header p {
    font-size: 1.25em;
}
h1 {
    font-size: 4em;
    margin: 0;
}
section h2 {
    text-align: center;
    font-size: 2.5em;
    background-color: #F7B733;
    padding: 10px;
    margin: 0;
}
section p {
    font-size: 1.25em;
    padding: 0% 5%;
}
header h2 {
    font-size: 2em;
    margin: 0; 
}
.project-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
    background-color: #F7B733;
}

.project-grid > div {
    border: 10px solid #F7B733;
    background-color: #DFDCE3;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
}
.project-grid > img
{
    border: 10px solid #F7B733;
    background-color: #DFDCE3;
    color: #000000;
    text-align: center;
    font-size: 1.5em;
}
.button {
    border-radius: 12px;
    background-color: #FC4A1A;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }